@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.darksalmon { background-color: darksalmon; }
.hotpink { background-color: hotpink; }
.lightskyblue { background-color: lightskyblue; }
.peachpuff { background-color: peachpuff; }
.mediumspringgreen { background-color: mediumspringgreen; }
.cornflowerblue { background-color: cornflowerblue; }
.blanchedalmond { background-color: blanchedalmond; }
.lightslategrey { background-color: lightslategrey; }
