@import "~@angular/material/prebuilt-themes/indigo-pink.css";

<<<<<<< HEAD
body {
    font-family: 'Muli';
    margin: 0;
    padding: 0;
    width: 100%;
    height:100vh;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    font-family: 'Muli';
}
=======
.darksalmon { background-color: darksalmon; }
.hotpink { background-color: hotpink; }
.lightskyblue { background-color: lightskyblue; }
.peachpuff { background-color: peachpuff; }
.mediumspringgreen { background-color: mediumspringgreen; }
.cornflowerblue { background-color: cornflowerblue; }
.blanchedalmond { background-color: blanchedalmond; }
.lightslategrey { background-color: lightslategrey; }
>>>>>>> 8f84d83c960ce4bc9f0f61961f4deef8d9ab1b20
