<div *ngIf="!summary" class="qPannel">
    <div *ngFor="let question of questions; let i = index" [hidden]="step !== i">
        {{ question.q }}

        <input matInput [(ngModel)]="question.answervalue" placeholder="Enter...">
        <!-- <mat-form-field *ngIf="question.type == 'open'">            
        </mat-form-field> -->

        <div *ngIf="question.type == 'single'">
                <mat-radio-group [(ngModel)]="question.answervalue">
                    <mat-radio-button *ngFor="let answer of question.answers" [value]="answer">
                        {{answer}}
                    </mat-radio-button>
                </mat-radio-group>
        </div>
    </div>
</div>
<div *ngIf="summary" class="summaryPannel">
    {{summary}}
</div>

<button (click)="goNext()" [hidden]="step >= questions?.length -1">Next</button>
<button (click)="save()" [hidden]="step != questions?.length -1">Save</button>
<button (click)="goBack()" [disabled]="step <= 0">Back</button>
